name: Build Release

on:
  workflow_call:
    inputs:
      publish:
        required: false
        type: boolean
        default: false

  workflow_dispatch:
    inputs:
      publish:
        description: "Whether to publish the packages"
        required: false
        default: false
        type: boolean

jobs:
  build-nuget-packages:
    name: Build NuGet Packages
    uses: ./.github/workflows/build-nuget-packages.yml
    secrets: inherit

  build-rpm-packages:
    name: Build RPM Packages
    uses: ./.github/workflows/build-rpm-packages.yml
    secrets: inherit

  publish-release:
    name: Publish Release
    if: ${{ inputs.publish == true }}
    needs:
      - build-nuget-packages
      - build-rpm-packages
    uses: ./.github/workflows/publish-release.yml
    with:
      run_id: ${{ github.run_id }}
    secrets: inherit
