name: "Publish MCPP Release"

on:
  workflow_dispatch:
    inputs:
      run_id:
        description: "The GitHub run ID to use for artifacts"
        required: true

  workflow_call:
    inputs:
      run_id:
        required: true
        type: string

jobs:
  publish-nuget-packages:
    uses: ./.github/workflows/publish-nuget-packages.yml
    with:
      run_id: ${{ inputs.run_id }}
    secrets: inherit

  publish-rpm-packages:
    uses: ./.github/workflows/publish-rpm-packages.yml
    with:
      run_id: ${{ inputs.run_id }}
    secrets: inherit
